body{
  overflow-x: hidden;
}
a{
  text-decoration: none;
}
header{
  opacity: 0.8;
  background-color: #ffffff;
  z-index: 1000;
  position:fixed;
  width: 100%;
}
.header__wrap{
  height: 77px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header__left{
  padding-left: 16vw;
  padding-top: 18px;
}
.header__left-pc{
  display: none;
}
.header__right{
  padding-right: 16.6vw;
}
.header__right ul{
  display: flex;
}
.header__right li{
  list-style: none;
  margin-left: 1.9vw;
}
.header__right a{
  display: block;
}
.header__right ul li:nth-child(-n+6) a{
  font-size: 16px;
  color: #110603;
  font-family: 'Hind Siliguri', sans-serif;
  font-weight: 400;
  padding: 5px 0px;
  margin-top: 28px;
}
.header__right ul li:nth-child(-n+6) a:hover{
  border-bottom: 2px #110603 solid;
}
.header__right ul li:nth-child(7) a{
  height: 25px;
  margin-top: 24px;
}
.header__right ul li:nth-child(7) a:hover{
  opacity: 0.7;
}
@media screen and (max-width:1300px) {
  .header__left{
    padding-left: 8vw;
  }
  .header__right{
    padding-right: 8vw;
  }
}
@media screen and (max-width: 800px){
  .header__wrap{
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    padding: 0 35px;
  }
  .header__left{
    padding-left: 0;
    padding: 0;
    display: none;
  }
  .header__left-pc{
    display: block;
  }
  /* ハンバーガーメニュー*/
  .nav-btn{
    display: block;
    width: 50px;
    height: 50px;
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
  }
  .nav-btn div{
    height: 1px;
    width: 50%;
    background-color: #110603;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s;
  }
  .nav-btn div:nth-of-type(1){
    transform: translate(-50%, -10px);
  }
  .nav-btn div:nth-of-type(3){
    transform: translate(-50%, 10px);
  }
  a.nav-btn.active div:nth-of-type(1){
    transform: rotate(45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }
  a.nav-btn.active div:nth-of-type(2){
    opacity: 0;
  }
  a.nav-btn.active div:nth-of-type(3){
    transform: rotate(-45deg) translate(-50%, 0);
    transform-origin: 0% 50%;
  }
  nav{
    opacity: 0;
    visibility: hidden;
    transition: 0.8s;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  nav.open{
    opacity: 1;
    visibility: visible;
    transition: 0.8s;
  }
  nav ul{
    height: 100%;
    width: 100%;
    flex-flow: column;
    padding-top: 50px!important;
  }
  .header__right li{
    padding-bottom: 20px;
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
  .header__right ul li:nth-child(-n+6) a{
    font-weight: bold;
    font-size: 20px;
  }
  .header__right ul li:nth-child(-n+6) a:hover{
    border-bottom: 0;
  }
}

/* main */
main{
  background-color: #e6e7e9;
}

/* mv */
.mv__wrap{
  padding-top: 77px;
  height: 36.2vw;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 54px;
  align-items: center;
}
.mv__left-text{
  padding-right: 4.17vw;
}
.mv__left-text h2{
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-size: 37px;
  font-weight: bold;
  margin-bottom: 18.5px;
  margin-left: -20px;
}
.mv__left-text h2 span{
  font-size: 30px;
}
.mv__left-text p{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 35px;
  letter-spacing: 0.01em;
  font-weight: bold;
}
.mv__left-text p span{
  font-size: 18px;
}
.mv__right{
  width: 57.83%;
  list-style: none;
  position: relative;
  height: 100%;
}
.mv__right li{
  position: absolute;
}
.mv__right li:nth-of-type(2){
  display: none;
}
.mv__right img{
  width: 100%;
}
@media screen and (max-width: 1400px){
  .mv__wrap{
    height: 32.52vw;
  }
  .mv__left-text h2{
    font-size: 29px;
    margin-bottom: 18.5px;
    margin-left: -20px;
  }
  .mv__left-text h2 span{
    font-size: 23px;
  }
  .mv__left-text p{
    font-size: 15px;
  }
  .mv__left-text p span{
    font-size: 15px;
  }
  .mv__right{
    width: 52%;
  }
  .mv__right img{
    height: 32.52vw;
  }
}
@media screen and (max-width: 1000px){
  .mv__left-text{
    padding-right: 3.2vw;
  }
  .mv__left-text h2{
    font-size: 24px;
    margin-bottom: 18.5px;
    margin-left: -15px;
  }
  .mv__left-text h2 span{
    font-size: 19px;
  }
  .mv__left-text p{
    font-size: 13px;
  }
  .mv__left-text p span{
    font-size: 15px;
  }
}
@media screen and (max-width:900px) {
  .news__wrap{
    width: 80%;
  }
}
@media screen and (max-width:600px){
  .news__content{
    padding: 10px 40px!important;
  }
}
@media screen and (max-width: 765px){
  .mv__wrap{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-top: 100px;
  }
  .mv__left{
    padding-bottom: 20px;
  }
  .mv__right{
    width: 100%;
    text-align: center;
    height: 40vw;
  }
  .mv__right img{
    height: auto;
  }
  .mv__left-text{
    padding: 0;
  }
  .mv__right img{
    width: 100%;
  }
  .mv__left-color ul{
    width: 100%;
    padding-left: 0;
    justify-content: center;
  }
}
@media screen and (max-width: 550px){
  .mv__right{
    width: 100%;
  }
  .mv__right img{
    height: auto;
  }
}
/* news */
.news__wrap{
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  width: 66.72%;
  border-radius: 200px;
  margin: auto;
}
.news__wrap h2{
  padding-left: 4.94vw;
  padding-right: 3.22vw;
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
}
.news__wrap dl{
  width: 75%;
  padding: 1.5vw 0;
}
.news__content a{
  display: flex;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16.02px;
  line-height: 2.187;
  letter-spacing: 0.01em;
  color: #110603;
  font-weight: bold;
}
.news__wrap dt{
  margin: 5px 1.89vw 5px 0;
}
.news__wrap dd{
  margin: 5px 0;
}
@media screen and (max-width:1250px) {
  .news__wrap{
    width: 72%;
  }
  .news__wrap h2{
    font-size: 17.36px;
  }
}
@media screen and (max-width:900px) {
  .news__wrap{
    width: 80%;
  }
  .news__wrap h2{
    font-size: 21px;
  }
  .news__content a{
    font-size: 14px;
    border-bottom: 1px solid #110603;
    padding-bottom: 5px;
  }
  .news__wrap{
    flex-direction: column;
    padding: 20px 0;
  }
  .news__content{
    padding: 10px 20px;
  }
}
@media screen and (max-width: 765px){
  .news__wrap{
    width: 80%;
    box-sizing: border-box;
    margin-top: 30vw;
  }
  .news__wrap dl{
    width: 100%;
  }
}

@media screen and (max-width: 600px){
  .news__wrap{
    width: 90%;
  }

  .news__wrap dd{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* story */
.story__wrap{
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 4.83vw 0 8vw 0;
}
.story__left{
  width: 36.75%;
  margin-left: 7.78vw;
}
.story__left-small{
  /* width: 80%; */
  width: 55.6%;
  margin: auto;
}
.story__left-arrow{
  text-align: center;
}
.story__left-arrow img:nth-child(1){
  width: 9%;
  padding: 27px 0 21px 0;
}
.story__left-arrow img:nth-child(2){
  display: none;
}
.story__left-big{
  /* width: 55.6%; */
  width: 80%;
  margin: auto;
}
.story__left img{
  width: 100%;
}
.story__right{
  padding-left: 4.72vw;
  padding-top: 10.5vw;
}
.story__right h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  line-height: 1;
  margin-bottom: 24.5px;
}
.story__right p{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 35px;
  letter-spacing: 0.01em;
  color: #110603;
}
.story__right a{
  color: #ba0b20;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
}
@media screen and (max-width:1200px) {
  .story__left{
    width: 34%;
    margin-left: 6.6vw;
  }
  .story__right h2{
    font-size: 30px;
    margin-bottom: 16.3px;
  }
  .story__right p{
    font-size: 15px;
    line-height: 35px;
  }
}
@media screen and (max-width:900px) {
  .story__wrap{
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
  .story__left{
    order: 2;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 20px auto 0;
    width: 85%;
    height: 27vw;
  }
  .story__left-small{
    padding-right: 15px;
    width: 30%;
  }
  .story__left-big{
    padding-left: 15px;
    width: 55%;
  }
  .story__left-arrow{
    text-align: center;
  }
  .story__left-arrow img:nth-child(1){
    display: none;
  }
  .story__left-arrow img:nth-child(2){
    display: block;
    width: 70%;
  }
  .story__right{
    order: 1;
    padding: 0;
    text-align:  left;
    width: 85%;
    margin: 0 auto;
  }
  .story__right h2{
    font-size: 30px;
    margin-bottom: 16.3px;
  }
  .story__right p{
    font-size: 15px;
    line-height: 35px;
  }
  .story__right a{
    display: block;
  }
}
@media screen and (max-width:500px){
  .story__wrap br{
    display: none;
  }
}

/* slick */
.slick{
  overflow: hidden;
}
.slick__wrap{
  margin: 0 auto;
}
.slick__wrap ul{
  display: flex;
}
.slick__wrap li{
  list-style: none;
}
.slick__wrap li img{
  width: 33.2vw;
}
.slick__wrap h4{
  font-size: 14px;
  background: #fff;
  opacity: 0.85;
  padding: 14px;
  display: inline-block;
}
@media screen and (max-width:1200px) {
  .slick__wrap li img{
    width: 40vw;
  }
}
@media screen and (max-width:900px){
  .slick__wrap h4{
    font-size: 12px;
    padding: 11px;
  }
}
@media screen and (max-width:550px) {
  .slick__wrap li img{
    width: 70vw;
  }
}
@media screen and (max-width:500px){
  .slick__wrap h4{
    font-size: 12px;
  }
}
/* scene */
.scene__wrap{
  margin: -3px auto 0;
  padding: 6.39vw 0 5.31vw;
  background-color: #fff;
}
.scene__wrap{
  display: flex;
}
.scene__wrap h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  padding-right: 11.28vw;
  padding-left: 17.78vw;
}
.scene__wrap p{
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-size: 16px;
  line-height: 35px;
  font-weight: bold;
  letter-spacing: 0.01em;
  margin-top: -7px;
}
@media screen and (max-width:1400px) {
  .scene__wrap h2{
    padding-left: 11vw;
    padding-right: 6vw;
  }
}
@media screen and (max-width:1200px) {
  .scene__wrap h2{
    font-size: 30px;
    padding-right: 3vw;
    padding-left: 6vw;
  }
  .scene__wrap p{
    font-size: 15px;
  }
}
@media screen and (max-width:900px) {
  .scene__wrap{
    box-sizing: border-box;
    flex-direction: column;
    /* text-align: center; */
    padding-left: 17.78vw;
  }
  .scene__wrap h2{
    font-size: 30px;
    padding: 0 0 12px;
  }
  .scene__wrap p{
    font-size: 16px;
    padding-left: 17px;
  }
  .scene__wrap p{
    padding: 0 0 0 10px;
  }
}
@media screen and (max-width: 650px){
  .scene__wrap{
    padding-left: 9.78vw;
  }
}
@media screen and (max-width:550px){
  .scene__wrap br{
    display: none;
  }
  .scene__wrap{
    padding-right: 9.78vw;
  }
}

/* product */
.product__wrap{
  margin: 0 auto;
  padding-top: 11.94%;
}
.product__wrap h2{
  font-family: 'Noto Sans', sans-serif;
  font-size: 45px;
  letter-spacing: 0.1em;
  padding-bottom: 7.5vw;
  padding-left: 17.78vw;
  margin: auto;
}
.product__top-image{
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.product__top-image ul{
  display: flex;
  list-style: none;
  align-items: center;
  width: 100%;
  height: 32vw;
  overflow: hidden;
}
.product__top-image ul li{
  position: absolute;
  z-index: 10;
}
/* ここで商品の大きさを調節. */
.slider1{
  width: 18.67vw;
}
.slider2{
  width: 30.39vw;
}
.slider3{
  width: 22.89vw;
}
.slider4{
  width: 25vw;
}
.slider5{
  width: 18.67vw;
}
.slider6{
  width: 30.39vw;
}
.slider7{
  width: 22.89vw;
}
.product__top-image ul li:nth-child(1){
  left: -12.8%;
}
.product__top-image ul li:nth-child(2){
  left: 19.83%;
}
.product__top-image ul li:nth-child(3){
  left: 89%;
}
.product__top-image ul li:nth-child(n+4){
  left: 100%;
}
.product__top-image ul li img{
  width: 100%;
}
.product__top-text{
  background-color: #ffffff;
  width: 35.33vw;
  height: 23.44vw;
  position: relative;
  bottom: 29.94vw;
  margin-left: 46.72vw;
  z-index: 1;
}
.product__top-text .num{
  background-size: cover;
  position: absolute;
  top: -13.61vw;
  left: -11.94vw;
  height: 11.28vw;
  width: 13.89vw;
  margin: 0px;
}
.product__top-text h3{
  font-size: 30px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  padding-top: 4vw;
  padding-bottom: 1.53vw;
  width: 58.18%;
  margin: 0 auto;
}
.product__top-text p{
  font-size: 16px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  letter-spacing: 0.01em;
  line-height: 35px;
  padding-bottom: 2.19vw;
  width: 58.18%;
  margin: 0 auto;
}
.product__top-link{
  width: 58.18%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-flow: row;
  margin-left: auto;
}
.product__top-link h5{
  font-size: 23px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  color: #ba0b20;
  text-align: right;
}
.product__top-text a:nth-of-type(1){
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  color: #110603;
  background-color: #e6e7e9;
  padding: 14px 17px 13px 18px;
  /* margin-top: 14px; */
  margin-left: auto;
}
.product__top-text a:nth-of-type(1):hover{
  background: #d6d8dc;
}
.product__top-text a:nth-of-type(2){
  margin-left: 30px;
}
.product__top-text a:nth-of-type(2):hover{
  opacity: 0.7;
}
.product__top-text a:nth-of-type(2) img{
  width: 100%;
}
.product__top-folder{
  display: none;
}
.product__top-button{
  position: relative;
  bottom: 19.72vw;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Noto Sans', sans-serif;
  text-align: center;
}
.product__top-button li{
  position: relative;
  height: 45px;
  width: 45px;
  line-height: 45px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 2vw;
  border: 2px solid #706e6d;
  cursor: pointer;
}
/* 商品数に応じて以下の:nth-child(-n+8)を調整(要素数７のときは-n+８) */
.product__top-button li:nth-child(n+2):nth-child(-n+8){
  background:linear-gradient(90deg,#e6e7e9 0%,#e6e7e9 50%,#110603 50%,#110603 100%);
  border: 1px solid #706e6d;
}
.product__top-button .chart-meter{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
  border-radius: 50%;
	transform: rotate(0deg);
	box-sizing: border-box;
  background:linear-gradient(90deg,transparent 0%,transparent 50%,#e6e7e9 50%,#e6e7e9 105%);
  border: 1px solid #706e6d;
}
.product__top-button .chart-submeter{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(0deg);
  box-sizing: border-box;
  background:linear-gradient(90deg,transparent 0%,transparent 50%,transparent 50%,transparent 100%);
  border: 1px solid #706e6d;
}
.product__top-button .chart-value{
  content: "";
  position: absolute;
  border-radius: 50%;
  left: 8%;
  top: 8%;
  width: 84%;
  height: 84%;
  background:#e6e7e9;
  line-height: 37.8px;
}
.product__bottom img{
  width: 100%;
}
.product__bottom{
  display: flex;
  justify-content: flex-end;
  margin-top: -11.39vw;
}
.product__bottom-left img:nth-of-type(2){
  margin-top: auto;
}
.product__bottom-left{
  padding-right: 46px;
  display: flex;
  flex-direction: column;
  width: 27.7%;
}
.product__bottom-left img{
  width: 100%;
}
.product__bottom-right{
  width: 52.9%;
}
.product__bottom-right img{
  width: 100%;
}
.product__bottom-right{
  position: relative;
}
.product__bottom-text{
  position: absolute;
  bottom: 48px;
  left: 53px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.product__bottom-text p{
  background-color: #fff;
  opacity: 0.8;
  padding: 15px 29px;
}
@media screen and (max-width:1600px) {
  .product__top-text h3{
    font-size: 30px;
    padding-top: 3.5vw;
    width: 65%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 2.19vw;
    width: 65%;
  }
  .product__bottom-imgright li:nth-of-type(2){
    font-size: 14px;
  }
}
@media screen and (max-width:1500px) {
  .product__top-text .num{
    top: -13.61vw;
    left: -10vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    font-size: 30px;
    padding-top: 3vw;
    width: 65%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 30px;
    padding-bottom: 2.19vw;
    width: 65%;
  }
}
@media screen and (max-width:1450px) {
  .product__top-text .num{
    top: -13.61vw;
    left: -10vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    padding-top: 2.5vw;
    padding-bottom: 1vw;
    width: 70%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 26px;
    padding-bottom: 2.19vw;
    width: 70%;
  }
  .product__top-text a:nth-of-type(1){
    /* margin-left: 10vw; */
  }
}
@media screen and (max-width:1400px){
  .product__bottom-imgright li:nth-of-type(2){
    font-size: 12px;
  }
}
@media screen and (max-width:1320px) {
  .product__top{
    display: flex;
    flex-flow: column;
  }
  .product__top-image{
    order:1;
  }
  .product__top-image ul{
    height: 52.65vw;
  }
  .slider1{
    width: 30.72vw;
  }
  .slider2{
    width:50vw;
  }
  .slider3{
    width: 37.66vw;
  }
  .slider4{
    width: 32vw;
  }
  .slider5{
    width: 30.72vw;
  }
  .slider6{
    width:50vw;
  }
  .slider7{
    width: 37.66vw;
  }
  .product__top-image ul li:nth-child(2){
    left: 25%;
  }
  .product__top-image ul li img{
    width: 100%;
  }
  .product__top-text{
    order: 3;
    width: 65%;
    height: auto;
    bottom: 0;
    margin-left: 25vw;
  }
  .product__top-text .num{
    top: 0;
    left: -18vw;
    height: 11.28vw;
    width: 13.89vw;
  }
  .product__top-text h3{
    padding-top: 4vw;
    padding-bottom: 1.53vw;
    width: 75%;
  }
  .product__top-text p{
    font-size: 16px;
    line-height: 35px;
    padding-bottom: 2.19vw;
    width: 75%;
  }
  .product__top-link{
    width: 75%;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 3.5vw;
  }
  .product__top-button{
    order:2;
    position: relative;
    bottom: 0;
    margin: 5vw auto;
  }
  .product__top-button li{
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin: 0 1vw;
  }
  .product__top-button li .chart-value{
    line-height: 24px;
  }
  .product__bottom{
    margin-top: 4vw;
  }
}
@media screen and (max-width:1200px){
  .product__wrap h2{
    font-size: 30px;
  }
}
@media screen and (max-width:900px){
  .product__bottom-text{
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width:800px){
  .product__top-text h3{
    font-size: 24px;
  }
  .product__bottom-imgright li{
    height: 100%;
  }
  .product__bottom-imgright img{
    height: 100%;
  }
}
@media screen and (max-width: 765px){
  .product__wrap{
    width: 100%;
    box-sizing: border-box;
  }
@media screen and (max-width:700px){
  .product__bottom-text{
    font-size: 13px;
  }
}
  .product__top{
    width: 100%;
  }
  .product__content-img img{
    width: 100%;
  }
  .product__bottom img{
    width: 100%;
  }
}
@media screen and (max-width: 650px){
  .product__bottom-right{
    width: 56%;
  }
}
@media screen and (max-width: 600px){
  .product__top-text{
    width: 90%;
    margin: 0 auto;
  }
  .product__top-text h3{
    font-size: 20px;
  }
  .product__top-text p{
    font-size: 13px;
    line-height: 25px;
  }
  .product__top-text .num{
    display: none!important;
  }
  .product__top-button li{
    margin: 0 0.5vw;
  }
  .product__bottom-text p{
    background-color: #fff;
    opacity: 0.8;
    padding: 10px 0;
    width: 90%;
    margin: auto;
  }
  .product__bottom-text{
    font-size: 12px;
  }
  .product__bottom{
    display: block;
    padding: 0 20px;
  }
  .product__bottom-left{
    width: 100%;
    padding-right: 0;
    flex-direction: inherit;
    justify-content: space-between;
  }
  .product__bottom-right{
    width: 100%;
    height: 60vw;
  }
  .product__bottom img{
    height: 100%;
    margin-top: 20px;
  }
  .product__bottom-left img{
    width: 49%;
  }
}
@media screen and (max-width: 420px){
  .product__top-text a:nth-of-type(1){
    font-size: 14px;
  }
  .product__top-text h3{
    width: 85%;
  }
  .product__top-text p{
    width: 85%;
  }
  .product__top-link{
    width: 85%;
  }
}

/* accessment */
.assessment__wrap{
  margin: 0 auto;
  padding-top: 8.67vw;
  padding-bottom: 7.66%;
}
.assessment__header{
  margin: auto;
}
.assessment__header{
  width: 64.11%;
  margin: 0 auto;
}
.assessment__header h2{
  font-size: 45px;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 0.1em;
  display: inline;
}
.assessment__header .fa-stack{
  margin-top: -15px;
  font-size:15px;
  margin-left: 10px;
  cursor: pointer;
}
.assessment__header p{
  font-size: 21.4px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  font-weight: bold;
  color: #ba0b20;
  margin-top: 12px;
  padding-bottom: 48px;
}
.assessment__wrap ul{
  background-color: #ffffff;
  width: 64.11%;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding:4.69vw 0 3.31vw 5.44vw;
}
.assessment__wrap li{
  font-size: 16px;
  font-weight: bold;
  line-height: 25px;
  padding-bottom: 25px;
  list-style: decimal;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
@media screen and (max-width: 1200px){
  .assessment__header h2{
    font-size: 30px;
  }
  .assessment__header .fa-stack{
    font-size: 12px;
  }
  .assessment__header h2::before{
    top: 8px;
  }
  .assessment__header p{
    font-size: 14px;
  }
}
@media screen and (max-width: 1000px){
  .assessment__header ul{
    padding-right: 20px;
  }
}
@media screen and (max-width: 800px){
  .assessment__header ul{
    width: 80%;
  }
}
@media screen and (max-width: 765px){
  .assessment__wrap{
    width: 100%;
    box-sizing: border-box;
  }
  .assessment__header{
    width: 80%;
  }
  .assessment__header p {
    padding-bottom: 20px;
  }
  .assessment__header-text{
    text-align: center;
  }
  .assessment__wrap li{
    padding-left: 0;
  }
  .assessment__wrap ul{
    width: 80%;
    padding-left: 40px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 600px){
  .assessment__wrap{
    padding-top: 12vw;
  }
}
@media screen and (max-width: 391px){
  .assessment__header-text .fa-stack{
    left: 130px;
    top: -13px;
  }
}

/* faq */
.faq__wrap{
  width: 68.1%;
  margin: 0 auto;
  padding-bottom: 3.61vw;
}
.faq__wrap h2{
  font-size: 45px;
  font-family: 'Josefin Sans', sans-serif;
  padding-bottom: 3.5vw;
  letter-spacing: 0.1em;
  line-height: 1;
}
.faq__wrap h2 span:nth-of-type(2) {
  font-size: 0.7em;
  font-family: 'Noto Sans', sans-serif;
}
.faq__wrap ul{
  display: flex;
  justify-content: space-between;
}

.faq__wrap li{
  list-style: none;
}
.faq__wrap h3{
  font-size: 18px;
  line-height: 1.67;
  padding-bottom: 5px;
  position: relative;
  height: 70px;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.faq__wrap h3::before{
  content: "";
  display: block;
  background-size: cover;
  position: absolute;
  top: -5px;
  left: -25px;
  height: 69px;
  width: 81px;
  margin: 0px;
  background-image: url(../images/Q.png);
}
.faq__wrap p{
  font-size: 16px;
  line-height: 1.88;
  font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}
.faq__wrap li:nth-of-type(1){
  padding-right: 52px;
}
.faq__wrap li:nth-of-type(2){
  border-left: 1px dotted #231814;
  border-right: 1px dotted #231814;
  padding-left: 46px;
  padding-right: 39px;
}
.faq__wrap li:nth-of-type(3){
  padding-left: 52px;
}
.faq__wrap p:nth-of-type(2){
  padding-top: 31px;
}

@media screen and (max-width: 1400px){
  .faq__wrap{
    width: 90%;
  }
}

@media screen and (max-width: 1200px){
  .faq__wrap h2{
    font-size: 30px;
  }
}

@media screen and (max-width: 1000px){
  .faq__wrap{
    width: 80%;
    padding-bottom: 5vw;
  }
  .faq__wrap br{
    display: none;
  }
  .faq__content{
    width: 75%;
    margin: auto;
  }
  .faq__wrap h2{
    text-align: center;
  }
  .faq__wrap ul{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .faq__wrap h3{
    height: 48px;
  }
  .faq__wrap p{
    padding-left: 10px;
  }
  .faq__wrap li:nth-of-type(1){
    padding-bottom: 50px;
    padding-right: 0;
  }
  .faq__wrap li:nth-of-type(2){
    border: 0;
    padding: 0 0 50px 0;
  }
  .faq__wrap li:nth-of-type(3){
    padding-left: 0;
  }
  .faq__wrap h3::before{
    top: -10px;
    height: 48px;
    width: 61px;
  }
  .faq__wrap li:nth-of-type(2)::before{
    left: -25px;
  }
  .faq__wrap li:nth-of-type(3)::before{
    left: -25px;
  }
  .faq__title-second{
    padding-bottom: 30px!important;
  }
}

@media screen and (max-width: 765px){
  .faq__wrap{
    box-sizing: border-box;
  }
  .faq__wrap h2{
    text-align: center;
  }
  .faq__wrap ul{
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: auto;
  }
  .faq__wrap li:nth-of-type(1){
    padding-bottom: 50px;
  }
  .faq__wrap li:nth-of-type(2){
    border: 0;
    padding: 0 0 50px 0;
  }
}

@media screen and (max-width: 550px){
  .faq__wrap h3{
    padding-bottom: 30px;
  }
}

/* footer */
.footer__wrap{
  margin: 0 auto;
  text-align: center;
  padding: 5.33% 0 19px 0;
}
footer img{
  width: 6.83%;
}
.footer__text{
  display: block;
  color: #838383;
  font-size: 11px;
  padding-bottom: 73px;
}
.footer__copy{
  display: block;
  font-size: 11px;
  color: #110603;
}

@media screen and (max-width: 765px){
  .footer__wrap{
    width: 100%;
    box-sizing: border-box;
  }
}
